<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>02-09</title>
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="exmaple">
        <select id="regions">
            <option disabled="disabled" selected>지역을 선택하세요</option>
            <option v-for="(val, key) in regions" v-bind:value="key">{{val}}</option>
            <!-- 인덱스 사용 -->
            <!--<option v-for="(val, key, index) in regions" v-bind:value="key">{{ index+1 }} : {{val}}</option>-->
        </select>
    </div>
    <script type="text/javascript">
    var regions = {
        "A" : "Asia",
        "B" : "America",
        "C" : "Europe",
        "D" : "Africa",
        "E" : "Oceania"
    };

    var list = new Vue({
        el : "#exmaple",
        data : { regions : regions }
    });
    </script>
</body>
</html>
<!-- 원본 데이터가 객체인 경우는 키를 이용해 값에 접근하는 해시맵(HashMap) 구조이기 때문에 Key, Value 값을 얻어낼 수 있는 구조를 사용 -->